.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  max-width: '100%'  //This will make container to take screen width
}
html, body {
    margin: 0;
    height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spoiler, .spoiler2{ 
  color: black; 
  background-color:black;
}

.spoiled {
  transition-duration: 200ms;
  color: white;
  cursor: pointer;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@green: #36ad3b;
@red: #ff1100;
@yellow: #f3c000;
@blue: #1d77cc;

@sans: "Open Sans", "Helvetica", "Arial", sans-serif;

@keyframes roll-in {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.fade-in {
  animation: fade .75s ease;
}

.quiz {
  margin: 2em auto;
  min-height: 40vh;
  font-size: 16px;

  .progress {
    position: relative;
    transition: width .4s ease;
    margin-bottom: 1em;
    background: rgb(181, 181, 181);
    border-radius: 0;
    width: 100%;
    height: 2em;
    font-family: @sans;

    .progress-bar {
      background-color: #1d77cc;
    }

    .counter {
      position: absolute;
      right: 5px;
      top: 0;
      font-weight: normal;
      color: #fff;
      height: 100%;
      font-family: @sans;
      font-size:1.25em;
      margin: auto .5em;
      letter-spacing:.025em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  form {
    width:90%;
    margin:1.5em auto;
  }

  .img-fluid {
    margin: 2em auto;
    max-width: 360px;
    display: block;
  }

  .question {
    font-weight:bold;
    line-height:1.35;
    margin-bottom:.75em;
  }

  .option {
    margin-bottom: .25em;
    transition: all .25s ease;
    font-size: .9em;
  }

  button {
    padding: .75em;
    font-family: @sans;
    background-color: #1d77cc;
    border: 0;
    color: #fff;
    font-size: 1em;
    transition: .25s all;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;

    i {
      margin-left: .15em;
    }

    &:disabled {
      opacity: .5;
    }
  }

  //custom radio controls
  input[type="radio"] {
    position: absolute;
    left: -9999px;
    
      & + label {
      position: relative;
      font-weight: normal;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
        
      &::before {
        text-align: center;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
      }
        
      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #222;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        transition: all 0.2s ease;
      }
    }
  }
  
  .dim, .correct {
    input[type="radio"] + label::before {
      border: 0;
      font-size: 1.2em;
      animation: .25s roll-in ease;
    }
    
    input[type="radio"] + label::after {
      display: none;
    }
  }

  .correct input[type="radio"] + label:before {
    content: '\f00C';
    font-family: "FontAwesome"!important;
    color: @green;
  }

  .dim input[type="radio"]:checked + label:before {
    content: '\f00d';
    font-family: "FontAwesome"!important;
    color: @red;
  }

  input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  //end custom radio controls

  .dim {
    opacity: 0.5;
  }

  .bottom {
    width:90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    div {
      flex: 1 1 70%;
      font-size: .9em;
    }

    .next {
      flex: 0 1 10%;
      margin-left: 3em;
    }

    @media (max-width: 600px) {
      div, .next {
        flex-basis: 100%;
      }

      .next {
        margin-left: 0;
      }
    }
  }

  .get-results {
    display: block;
    margin: 2em auto;
  }

  .results {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;

    h1 {
      font-family: @sans;
    }

    button {
      margin-top: 1em;
    }
  }
}
